<row>
    <columns small="12" large="10" class="footer">
        <p>This message is from INXPO on behalf of UnitedHealthcare. You are receiving this email because you subscribed to receive email about UHC On Air. To ensure that you are receiving all important channel notices and reminders, be sure to add $[SenderEMailAddress]$
            to your address book. For more information, please view our whitelisting instructions.</p>
        <p>Please do not reply to this e-mail address; this mailbox is used for outbound e-mail only. Do not include any personal health information as part of any email communication. If you have questions about your account, or would like additional information,
            please contact Amber Huggins at amber_huggins@uhc.com.</p>
        <p>You have the right not to receive future emails. If you no longer want to receive email communications about UHC On Air, please unsubscribe from this mailing list. Report email abuse.</p>
        <spacer height="1"></spacer>
        <p class="text-center">Our mailing address is: INXPO, Inc. | 770 N. Halsted St. | Suite 6S | Chicago, IL | 60642 | United States</p>
    </columns>
</row>