<row>
    <columns>
        <h6 class="small-text-center">National Programming</h6>
    </columns>
</row>
<row>
    <columns small="12" large="2">
        <img class="small-float-center" src="./assets/img/thumbnail.png" alt="please don't forget me">
    </columns>
    <columns small="12" large="5">
        <p class="lead small-text-center">Optum Direct Connect- Claim Recover Tool<br><a href="#">Watch Now &#x25b6</a></p>
        <p class="lead small-text-center">Optum Direct Connect- Claim Recover Tool<br><a href="#">Watch Now &#x25b6</a></p>
        <p class="lead small-text-center">Optum Direct Connect- Claim Recover Tool<br><a href="#">Watch Now &#x25b6</a></p>
    </columns>
</row>
<hr/>