<row>
    <columns>
        <h5 class="small-text-center">National Programming</h5>
    </columns>
</row>
<row>
    <columns small="12" large="2">
        <img class="small-float-center" src="./assets/img/thumbnail.png" alt="please don't forget me">
    </columns>
    <columns small="12" large="5" class="national">
        <p class="lead small-text-center">Optum Direct Connect- Claim Recover Tool</p>
        <a class="small-text-center" href="#">Watch Now &#x25b6</a>
        <p class="lead small-text-center">Optum Direct Connect- Claim Recover Tool</p>
        <a class="small-text-center" href="#">Watch Now &#x25b6</a>
        <p class="lead small-text-center">Optum Direct Connect- Claim Recover Tool</p>
        <a class="small-text-center" href="#">Watch Now &#x25b6</a>
    </columns>
</row>
<row>
    <columns small="12">
        <hr/>
    </columns>
</row>