<row>
    <columns small="12" large="10">
        <callout class="success support">
            <h5>Support Information</h5>
            <spacer height="15"></spacer>
            <p class="lead">If you have any questions or problems, please contact your administrator.</p>
            <spacer height="10"></spacer>
            <p class="lead"><a href="#">System Check &#x25b6</a> Make sure that your computer is ready to view content.</p>
            <spacer height="10"></spacer>
            <p class="lead"><a href="#">FAQ &#x25b6</a> New to UHC On Ait? Check out the frequently asked questions.</p>
            <spacer height="10"></spacer>
            <p class="lead"><a href="#">Technical Support &#x25b6</a> Need help? Click here for techinical support.</p>
            <spacer height="10"></spacer>
            <p class="lead"><a href="#">Computer Tips &#x25b6</a> Find useful tips to prepare your computer for the program.</p>
        </callout>
    </columns>
</row>