<row>
    <columns small="12" large="10">
        <callout class="success support">
            <h6>Support Information</h6>
            <spacer height="15"></spacer>
            <p>If you have any questions or problems, please contact your administrator.</p>
            <spacer height="10"></spacer>
            <p class="lead small-text-center"><a href="#">Watch Now &#x25b6</a> Optum Direct Connect- Claim Recover Tool</p>
            <spacer height="10"></spacer>
            <p class="lead small-text-center"><a href="#">Watch Now &#x25b6</a> Optum Direct Connect- Claim Recover Tool</p>
            <spacer height="10"></spacer>
            <p class="lead small-text-center"><a href="#">Watch Now &#x25b6</a> Optum Direct Connect- Claim Recover Tool</p>
            <spacer height="10"></spacer>
            <p class="lead small-text-center"><a href="#">Watch Now &#x25b6</a> Optum Direct Connect- Claim Recover Tool</p>
        </callout>
    </columns>
</row>