<row>
    <columns>
        <h5 class="small-text-center">Your Programming</h5>
    </columns>
</row>
<row>
    <columns small="12" large="2">
        <img class="small-float-center" src="./assets/img/thumbnail.png" alt="please don't forget me">
    </columns>
    <columns small="12" large="5" valign="middle">
        <p class="lead small-text-center">Link-eligibilityLink app Member Search tutorial <br/><em>UHC NEWS NOW</em></p>
        <p class="lead small-text-center date-time">01/13/2017 at 3:00pm</p>
        <button href="#" class="radius watch small-float-center small">Watch Now &#x25b6</button>
    </columns>
</row>